services:
  app:
    build: .
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      - PORT=8080
    restart: unless-stopped
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
