#searchBox{
  font-size: 25px;
  background: rgb(187, 59, 0);
  border-bottom: 1px solid white;
  margin-bottom: 0px !important;
}
#userNameBox{
  font-size: 25px;
  margin: 1px;
  margin-top: 10px;
  border-bottom: 1px solid white;
  background: rgb(187, 59, 0);
}
header{
  background: rgb(187, 59, 0);
}