#searchBox{
  font-size: 25px;
  border-bottom: 1px solid white;
  margin-bottom: 0px !important;
}
#userNameBox{
  font-size: 25px;
  margin: 1px;
  margin-top: 10px;
  border-bottom: 1px solid white;
}