
.detailedBox{
    background: rgb(241, 241, 241);
    border: 1px solid rgb(185, 185, 185);
    width: 90vw;
    margin-left: 0vw;
    margin-top: 2px;
    text-align: left;
    padding-left: 5vw; 
    padding-right: 5vw;
}
.changeNameHeading{
  font-size: 30px !important;
}
.detailedBox > div{
    padding: 0px;
    margin: 0px;
}
.detailEditBoxButton{
    font-size: 20px;
  display: inline-block !important;
}
@media(min-width: 1000px){
    .detailedBox{
      width: 40vw;
      margin-left: 25vw;
    }
  }
  #detailBackButton{
    position: fixed;
    top: 5vh;
    right: 5vw;
    font-size: 20px;
    color: white;
    background: rgb(187, 59, 0);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 2px !important;
    padding:5px;
    z-index: 1000;
}
#detailBackButton:hover{
  background: rgba(187, 59, 0, 0.7);
}
.detailBoxTitle{
  display: inline-block !important;
  vertical-align: middle !important;
}

.detailBoxTitleButton{
  position: relative;
  float:right;
  margin-right: 0px;
  margin-top: -43px;
}

.dateSelector{
  margin-left: 20px;
}
