
.listNameButton{
  text-align: left;
/*   background: rgb(241, 241, 241); */
/*   border: 1px solid rgb(185, 185, 185); */
  color: white;
  padding-left: 10px;
/*   margin-top: 2px; */
  width: calc(90vw - 10px);
  margin-left: 5vw;
}
.listNameButton:hover{
  background: rgba(0,0,0,0.1);
}
.listNameButton > h3{
  display: inline-block
}
@media(min-width: 1000px){
  .listNameButton{
    width: 40vw;
    margin-left: 30vw;
  }
}

.listCountBox{
  display: inline-block;
  margin-bottom: -13px;
  margin-left: 10px;
  margin-right: 30px;
  border: 2px solid red;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}