#searchBox{
  /* display: inline; */
  font-size: 25px;
  margin-bottom: 0px !important;
}
#userNameBox {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 25px;
  margin: 1px;
  border-bottom: 1px solid white;
  text-align: center;
  color: white;
  width: 250px;
}

#userNameBox .center-text {
  flex: 1;
  text-align: center;
}

#userNameBox .search-clear {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 50000;
  height: 30px;
  width: 30px;
}


.search-box{
  width: fit-content;
  display: inline-block;
}