@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('./Components/SearchBar/style.css');
@import url('./Components/Home/style.css');
@import url('./Components/NoteDetail/style.css');
@import url('./Components/NewNote/style.css');
@import url('./Components/NoteItem/style.css');
@import url('./Components/EditNoteCheck/style.css');


header {
  padding-bottom: 1px;
  position: fixed;
  width: 100vw;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
  z-index: 100;
}

body {
  background-color: #030303;
  color: #7c7c80;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  overscroll-behavior-x: none;
}

button {
  border: none;
  margin: 5px;
  padding: 2px;
  color: white;
  border-radius: 2px;
  text-align: right;
  font-size: 18px;
}
button:hover {
  background: rgba(187, 59, 0, 0.7);
}
link {
  text-decoration: unset;
  color: white;
}
p {
  font-size: 18px;
}
input[type='text'],
[type='password'],
[type='email'],
[type='date'],
[type='datetime-local'],
[type='number'] {
  text-align: center;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 12vh;
  margin-top: 5px;
  width: 250px;
  font-size: 18px;
}
textarea {
  text-align: left;
  color: white;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
  width: 80%;
  font-size: 18px;
}
#quickDay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}
.blueHover:hover {
  background: rgba(187, 59, 0, 0.5);
}

@media (max-width: 600px) {
  span::before {
    content: '\A';
    white-space: pre;
  }
  .list-count-item::before {
    content: normal;
    white-space: normal;
  }
}
h2 {
  margin: 0px;
}

#links {
  margin-top: 10px;
  /* background: rgb(187, 59, 0); */
}
.navLink {
  color: white;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
  font-weight: bolder;
}
.navLink:hover {
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px;
  margin: 0px 3px 0px 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*:focus {
  outline: none;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}


.backButton {
  position: fixed;
  font-size: 30px;
  top: 2vh;
  left: 2.5vw;
  min-width: 30px;
  color: white;
  border-radius: 2px !important;
  padding: 5px;
  border-radius: 50px !important;
  z-index: 1000;
}
.backButton:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

.detail-scroll{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 6vw;
  right: 3vw;
}
.detail-scroll > div{
  text-align: center;
  margin-bottom: 10px;
  text-align: center;
}
.detailAddButton {
  color: white;
  font-size: 30px;
  padding: 10px 18px 10px 18px !important;
  border-radius: 50px !important;
  z-index: 1000;
  box-shadow: 1px 1px 5px grey;
}

.detailUpButton {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  z-index: 1000;
  box-shadow: 1px 1px 5px grey;
  height: 40px;
  width: 40px;
}

#menuButton {
  position: absolute;
  top: 2vh;
  right: 4vw;
  font-size: 30px;
  color: #ffa500;
  border-radius: 50px !important;
  padding: 5px;
  z-index: 1000;
}
#menuButton:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1000px) {
  #menuButton {
    right: 26vw;
  }
  .detail-scroll {
    /* right: 26vw; */
  }

  .backButton {
    left: 24vw;
  }
  textarea {
    /* width: 60vw; */
  }
  #quickDay,
  .weatherLine,
  .bigScreen {
    margin-left: 20vw;
    width: 60vw;
  }
  #pushOver {
    width: 0px;
  }
}
/* Red Theme */
.red-back{
  background: rgb(208, 0, 0);
}
.red-hover:hover{
  background: rgba(208, 0, 0, 0.7);
}
.red-border{
  border: 1px solid rgb(208, 0, 0);
}
.red-border-thick{
  border: 2px solid rgb(208, 0, 0);
}
.red-border-color{
  border-color: rgb(208, 0, 0)!important;
}
.red-back-back{
  background-color: #030303;
}
/* Ocean Theme */
.ocean-back{
  background: rgb(56, 205, 184);
}
.ocean-back-back{
  background: rgb(53, 55, 61);
}
.ocean-border-thick{
  border: 2px solid rgb(56, 205, 184);
}
.ocean-hover:hover{
  background: rgba(56, 205, 184, 0.7);
}
.ocean-border-color{
  border-color: rgba(56, 205, 184, 1) !important;
}
/* Green Theme */
.green-back{
  background: rgb(57, 203, 125);
}
.green-back-back{
  background: rgba(16,55,98)
}
.green-border-thick{
  border: 2px solid rgb(57, 203, 125);
}
.green-hover:hover{
  background: rgba(57, 203, 125, 0.7);
}
.green-border-color{
  border-color: rgba(63, 145, 101, 1)!important;
}
/* Dark Theme */
.dark-back{
  background: rgb(0, 144, 200);
  background-color: rgb(0, 144, 200);
}
.dark-back-back{
  background: rgb(6, 31, 47);
  background-color: rgb(6, 31, 47);
}
.dark-border-thick{
  border: 2px solid rgb(0, 144, 200);
}
.dark-hover:hover{
  background: rgba(0, 144, 200, 0.7);
}
.dark-border-color{
  border-color: rgba(0, 144, 200, 1)!important;
}
/* Night Theme */
.night-back{
  background: rgb(39, 52, 59);
}
.night-back-back{
  background: rgb(6, 31, 47);
}
.night-border-thick{
  border: 2px solid rgb(0, 144, 200);
}
.night-hover:hover{
  background: rgba(0, 144, 200, 0.7);
}

.night-border-color{
  border-color: rgba(0, 144, 200, 1)!important;
}

.rust-back{
  background: rgb(187, 59, 0);
}
.rust-back:hover{
  background: rgba(187, 59, 0, 0.7);
}
.rust-border{
  border: 1px solid rgb(187, 59, 0);
}
.rust-border-color{
  border-color: rgb(187, 59, 0)!important;
}
.white-color{
  color: white;
}
.dark-hover:hover{
  background: rgba(0, 0, 0, 0.4);
}

.submit-button{
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  width: 40px;
  height: 40px;
  line-height: 35px;
}

::-webkit-scrollbar{
  display: none;
}
.column{
  display: flex;
  flex-direction: column;
}
.slide-in{
  overflow: hidden;
  overscroll-behavior-x: none;
  justify-content: center;
  display: flex;
}
@keyframes slide {
  from {max-width: 0px;}
  to {max-width: 1000px;}
}
.grow > .detailedBox{
  margin-left: -0px;
}
.grow{
  /* animation-name: grow; */
  /* animation-duration: 1s; */
  overflow: hidden;
}
.growb{
  animation-name: grow;
  animation-duration: 1s;
  /* overflow: hidden; */
}
@keyframes grow {
  from {max-height: 0px;}
  to {max-height: 1000px;}
}

.flex{
  display: flex;
}