input[type="radio"]{
    width: 50px;
}
label{
    color: white;
    margin: 5px;
}
editNoteTextArea{
  height: 80px;
}
@media(min-width: 1000px){
  editNoteTextarea{
    margin-left:0vw;
    width: 10vw; 
  }
  #div-text-area {
    /* margin-left: 20vw;
    width: 60vw; */
    max-width: 55vw;
  }
  .div-text-area {
    /* margin-left: 20vw;
    width: 60vw; */
    max-width: 55vw;
  }
  .small-text-area {
    max-width: 55vw;
  }
}

.hidden {
  visibility: hidden !important;
  height: 0px;
  padding: 0px;
}
#input-div-text-area1 {
  visibility: hidden !important;
  height: 0px;
  padding: 0px;
}
#div-text-area, .div-text-area {

  text-align: left !important;
  color: white !important;
  border: none !important;
  border-radius: 2px !important;
  margin-top: 5px !important;
  width: 100%;
  /* width: 80vw;
  margin-left: 10vw; */
  font-size: 18px !important;
  padding : 2px;
  min-height: 50px;
  max-height: 48vh;
  overflow: scroll;
  /* margin-top: -15px !important; */
  /* max-width: 100vw; */

}

.small-text-area{
  /* color: white;
  border: none;
  border-radius: 2px;
  margin-top: 12vh;
  margin-top: 5px;
  width: 250px;
  font-size: 18px;
  height: 20px;
   */
  text-align: center;
}

.big-text-area{
  padding: 2px;
  min-height: 100px;
  max-height: 48vh;
  overflow: scroll;
  width: 100%;
}