input[type="radio"]{
    width: 50px;
}
label{
    color: #231f20;
    margin: 5px;
}
editNoteTextArea{
  height: 80px;
}
@media(min-width: 1000px){
  editNoteTextarea{
    margin-left:0vw;
    width: 60vw; 
  }
}